
h1{
    text-align: center;
    text-decoration: underline;
    font-size: medium;
    font-weight: bold;
}
table{
    border: 8px solid #2a9cc8 ;
    border-radius:10px;
    table-layout: auto;
}
th{
    padding: auto;
    vertical-align: auto;
    font-size: 15px ;
    border-collapse: separate;
    border: 5px solid #2a9cc8 ;
    border-radius:10px;
    align-items: center;
}
td{
    vertical-align: auto;
    font-size: 15px ;
    border: 5px solid #2a9cc8 ;
    border-radius:10px;
    justify-items: center;
}
